:root {
  font: 16px / 1 sans-serif;
}

html {
  height: 100%;
}

body {
  margin: 0;
  min-height: 100%;
}

.header {
  display: flex;
  background-color: rgb(81, 45, 168);
  color: white;
  justify-content: space-between;
  align-items: center;
  height: 3.5rem;
}

.logoContainer a {
  color: white;
  text-decoration: none;
  font-size: 1.5rem;
  padding: 0 10px;
}

.nav {
  display: flex;
  list-style-type: none;
  align-items: baseline;
}

.nav li {
  padding: 100% 20px;
}

.nav li a {
  color: white;
}
.nav li:hover {
  background-color: rgb(255, 193, 7);
}

.nav li:hover a {
  background-color: rgb(255, 193, 7);
  color: black;
}

.aotdContainer {
  /* display: flex; */
  position: relative;
  height: 350px;
  /* overflow: hidden; */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.aotd {
  display: block;
  width: 100%;
  padding: 0;
  margin: -25% 0;
  /* height: 440px; */
}

.explore {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 2rem;
  font-weight: bold;
}

.copyright {
  padding: 0 0 0 0;
  margin: 1px 0 0 0;
  font-size: 0.8rem;
  text-align: center;
}

.launchesHeaderContainer {
  background-color: rgb(255, 193, 7);
  font-size: 1.5rem;
  font-weight: bold;
  padding: 15px;
}

.missionStatementContainer {
  background-color: rgb(209, 196, 233);
  display: flex;
  justify-content: center;
  /* align-items: center; */
  align-content: space-around;
  flex-direction: column;
  /* height: 180px; */
}

.missionStatementHeader {
  width: 100%;
  text-align: center;
  font-size: 1.75rem;
}

.missionStatementText {
  font-size: 1.25rem;
  margin: 0 10px 2.5rem;
  text-align: center;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: rgb(103, 58, 183);
  color: rgb(204, 204, 204);
  height: 75px;
}

.footer a {
  color: rgb(204, 204, 204);
}

.carouselContainer {
  display: flex;
  /* width: 100%; */
}

.arrowContainer {
  display: flex;
  /* position: relative; */
  /* flex-basis: 150px; */
  width: 150px;
  align-items: center;
  /* border: 1px solid black; */
  /* background-color: aqua; */
}

.leftArrowContainer {
  justify-content: left;
}

.rightArrowContainer {
  justify-content: right;
  /* border: 1px solid black; */
}

.arrow {
  /* display: table-cell; */
  font-size: 2rem;
  border-style: outset;
  border-color: rgb(227, 227, 227);
  border-width: 2px;
  /* padding: 0 27px; */
  padding: 5% 27px 5px 27px;
  vertical-align: middle;
  margin-top: -3px;
  margin-bottom: -3px;
  background-color: rgb(255, 193, 7);
  height: 14%;
}

.arrow:active {
  background-color: rgb(103, 58, 183);
}

.leftArrow {
  border-radius: 0 25px 25px 0;
}

.rightArrow {
  border-radius: 25px 0 0 25px;
}

.infoContainerBorder {
  background-color: rgb(237, 237, 237);
  border-radius: 10px;
  margin: 10px;
  width: 100%;
  color: rgb(33, 33, 33);
  padding-bottom: 1.5rem;
  /* height: 250px; */
}

.infoContainer {
  margin: 10px;
}

hr {
  color: rgb(169, 169, 169);
}

.missionName {
}

.missionHeader {
  text-align: center;
}
